@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 0px;
    font-size: 17px;
    color: #8d8f90;
    font-weight: 400;
    line-height: 32px;
    background-color: #271334fb !important;
}
.row {
    width: 100%;
}


video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-position: center;
    object-fit: cover;
}
.container {
   
    width: 100%;
    height: 100%;
   
}
.page-caption {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    margin: 3%;
    animation: slide-in 1000ms;
    font-family: 'Overpass', sans-serif;
    font-size: 56px;
    line-height: 1;
    color: #fff;
    font-weight: 600;
}
#content {
    position: relative;
    top: -20%;  /* Adjust as needed to create overlap */
    z-index: 2;
}
#content-right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    margin: 5%;
    
}
#search-city{
    width:80%;
    margin: 0 auto;
}

#search-button-icon{
    width:15px;
    display:inline-block;
}
#search-button{
    background-color: #663b54b6 !important;
    border: none;

}

#search-button:hover{
    background-color: #663b54 !important;
    border: none;
}
#city-results {
    top: 0;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 2px #663b54;
    text-align: left;
    display: block;
   color: #271334;
}

input {
    border-radius: 5px;
    border: 1px solid #663b54;
    padding: 5px;
    margin: 5px;
    width: 100%;
    font-size: 1em;
    color: #663b54;
    font-weight: 600;
    background-color: #ffffffb7 !important;
    font-family: 'Montserrat', sans-serif;
}
.page-header {
    position: fixed;
    font-family: Arial;
    color: rgba(255, 255, 255, 0.253);
    width: 100%;
    overflow: hidden;
}

#content-left {
    position: relative;
    align-items: center;
    margin-top: 41%;
    margin-right: auto;
    margin-left: auto;
}
.page-title {
    animation: slide-in 1000ms;
}
.jumbotron {
    padding: 1rem;
    border-radius: 0;
    height: 60vh;
}


#five-day-forecast {
    background: rgba(255, 255, 255, 0);  
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;

}
#current-weather { 
   
  color: #000000;
  padding: 6px;
}

#current-container {
    width: 70%;
    margin: auto;
    text-align: center;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 2px #663b54;
    display: block;
    padding: 1rem;
    background-color: #ffffffb7;
}
h2 {
    color: #ffffff8d;
    padding-bottom: 7px;
    margin: auto;
}
#clear-storage{
    color:grey;
    text-decoration: none;
    font-size:.75em;
    margin: .5em 0em 0em .5em;
}

.weather-card{
    width: 12rem;
    background-color: #ffffffb7;
    color: rgb(12, 5, 5);
    text-align: center;
    box-shadow: 0px 4px 8px 2px #663b54;
}

.uv-favorable{
    background-color: green;
    border-radius: 5px;
    color: rgb(17, 2, 2);
}

.uv-moderate{
    background-color: orange;
    border-radius: 5px;
    color: rgb(15, 13, 13);
}

.uv-severe{
    background-color: red;
    border-radius: 5px;
    color: rgb(4, 2, 2);
}

@media only screen and (max-width: 992px) {
    #search-city{
        width:100%;
        margin: auto;
        
    }
    #search-button{
        width:100%;
        margin: auto;
        
    }
    .page-caption {
        display: none;
    }
    #current-container {
        width: 100%;
        margin-top: 20%;
        position: absolute;
        
    }
    #five-day-forecast {
        width: 100%;
        margin-top: 110%;
        position: absolute;
    }
    video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            min-width: 100%;
            min-height: 100%;
            z-index: -1;
            object-position: center;
        
        height: 100vh;   
    }
}
@media only screen and (max-width: 600px) {
    #content, #content-right {
        position: static;
        margin: 0 auto;
    }
    #search-city{
        width:100%;
    }
    .weather-card {
        width: 100%;
    }
    .jumbotron {
        height: auto;
    }
    #current-container {
        width: 100%;
        padding: 10px;
    }
    #five-day-forecast {
        width: 100%;
    }
    h2 {
        display: none;
    }
}

@media only screen and (max-width: 575px) {
    video {
        height: 100%;
    }
    #fiveDayForecastUl{
        margin-top: 40%;
        justify-content: center;
    }
    .page-caption {
        display: none;
    }
    h2 {
        display: none;
    }
}