@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.page-title {
  animation: slide-in 1000ms;
}




body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Overpass', sans-serif;
  letter-spacing: 0px;
  font-size: 17px;
  color: #8d8f90;
  font-weight: 400;
  line-height: 32px;
  background-color: #271334;
}

h1, h3, h4, h5, h6 {
  color: #25292a;
  margin: 0px 0px 10px 0px;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 26px;
  line-height: 1;
  color: #663b54;
  font-weight: 600;
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.day4hum {
  color: #25292a;
  margin: 0px 0px 10px 0px;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1;
  font-size: 17px;

}

.day4speed {
  color: #25292a;
  margin: 0px 0px 10px 0px;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1;
  font-size: 17px;

}

p {
  margin: 0 0 20px;
  line-height: 1;
}

p:last-child {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #8d8f90;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

a:focus, a:hover {
  text-decoration: none;
}

.twoheading {
  animation: slide-in 1000ms;
  font-size: 26px;
  line-height: 1;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: -2px;
  text-transform: uppercase;
}


video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-position: center;
  object-fit: cover;
}

header {
  position: fixed;
  font-family: Arial;
  color: rgba(255, 255, 255, 0.253);
  width: 98%;
  margin: 10px;
  border: 1px solid white;
  background-color: black;
  text-align: center;
  overflow: hidden;
}

.page-caption {
  padding-top: 170px;
  padding-bottom: 174px;
}

.page-title {
  font-size: 56px;
  line-height: 1;
  color: #fff;
  font-weight: 600;
  text-align: left;
}

.card-section {
  position: relative;
  bottom: 60px;
}

.card-block {
  padding: 80px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 2px #202020;
  background-color: rgba(255, 255, 255, 0.568);
}

.section-title {
  margin-bottom: 60px;
  font-size: 26px;
  line-height: 1;
  text-align: center;
  color: #4c3550, font-weight: 600;
}

.container {
  margin: auto;
}

body {
  overflow-x: hidden;
  height: 100%;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  background: #271334;
}

#current {
  width: 600px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 2px #9E9E9E;
  margin-top: 50px;
  margin-bottom: 50px;
}

.time-font {
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  margin-left: 3px;
  vertical-align: top;
}

.sm-font {
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  margin-left: 3px;
  vertical-align: top;
}

.med-font {
  margin-top: 20px;
  font-size: 21px;
  font-weight: 400;
  color: #fff;
}

button {
  position: absolute;
  right: 9px;
  top: 11px;
  background-color: #ffffff;
}

.fa-search {
  color: white;
}

button:hover {
  cursor: pointer;
}

.history {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
  background-color: white;
  opacity: 0.6;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 2px #9E9E9E;
  max-width: 224px;
  float: right;
  position: absolute;
  right: 13px;
  top: 90px;
  color: #ced4da;
}

.card-body .srch {
  opacity: 0.5;
}

.large-font {
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  margin-left: 3px;
  vertical-align: top;
  color: #fff;
}

.col-lg-8 .stretch-card .mx-auto {
  max-height: 600px;
  min-width: 228px;
}

.row .align-items-center {
  max-height: 600px;
}

.currentweather {
  min-width: 228px;
  margin-top: 70px;
  text-align: center;
  margin: auto !important;
  position: relative;
  height: 90%;
  width: 100%;
  overflow: hidden;
  background: url("https://s-media-cache-ak0.pinimg.com/564x/cf/1e/c4/cf1ec4b0c96e59657a46867a91bb0d1e.jpg") repeat center center fixed;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 2px #663b54;
  overflow: hidden;
  margin-bottom: 20px;
}

.weather-card {
  margin: auto;
  height: auto;
  width: auto;
  margin-bottom: 20px;
  max-width: 240px;
  min-width: 228px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 2px #663b54;
  overflow: hidden;
}

.weather-card .top {
  position: relative;
  height: 90%;
  width: 100%;
  overflow: hidden;
  background: url("https://s-media-cache-ak0.pinimg.com/564x/cf/1e/c4/cf1ec4b0c96e59657a46867a91bb0d1e.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.weather-card .top .wrapper {
  padding: 30px;
  position: relative;
  z-index: 1;
}

.weather-card .top .wrapper .mynav {
  height: 20px;
}

/* .weather-card .top .wrapper .mynav .lnr {
  color: #fff;
  font-size: 20px;
} */

.weather-card .top .wrapper .heading {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
}

.weather-card .top .wrapper .location {
  margin-top: 20px;
  font-size: 21px;
  font-weight: 400;
  color: #fff;
}

.weather-card .top .wrapper .temp {
  margin-top: 20px;
}

.weather-card .top .wrapper .temp a {
  text-decoration: none;
  color: #fff;
}

.weather-card .top .wrapper .temp a {
  font-size: 85px;
}

.weather-card .top .wrapper .temp {
  display: inline-block;
  font-size: 85px;
  font-weight: 600;
  color: #fff;
}

.weather-card .top .wrapper .temp {
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  vertical-align: top;
  margin-top: 10px;
}

.weather-card .top:after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.weather-card .bottom {
  padding: 0 30px;
  background: #fff;
}

.weather-card .bottom .wrapper .forecast {
  overflow: hidden;
  margin: 0;
  font-size: 0;
  padding: 0;
  padding-top: 20px;
  max-height: 155px;
}

.weather-card .bottom .wrapper .forecast a {
  text-decoration: none;
  color: #000;
}

.weather-card .bottom .wrapper .forecast .go-up {
  text-align: center;
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
}

.weather-card .bottom .wrapper .forecast li {
  display: block;
  font-size: 17px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.25);
  line-height: 1em;
  margin-bottom: 30px;
}

.weather-card .bottom .wrapper .forecast li .date {
  display: inline-block;
}

.weather-card .bottom .wrapper .forecast li .condition {
  display: inline-block;
  vertical-align: middle;
  /* float: right; */
  font-size: 25px;
}

.weather-card .bottom .wrapper .forecast li .condition .temp {
  display: inline-block;
  vertical-align: top;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-top: 2px;
}

.weather-card .bottom .wrapper .forecast li .condition .temp .deg {
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  margin-left: 3px;
  vertical-align: top;
}

.weather-card .bottom .wrapper .forecast li .condition .temp .temp-type {
  font-size: 20px;
}

.weather-card .bottom .wrapper .forecast li.active {
  color: rgba(0, 0, 0, 0.8);
}

.weather-card.rain .top {
  background: url("http://img.freepik.com/free-vector/girl-with-umbrella_1325-5.jpg?size=338&ext=jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

/* search city */


.card {
  margin-right: 10px;

  /* opacity: 0.0; */
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.input-box {
  position: relative;
  position: absolute;
  right: 13px;
  top: 15px;
}

.input-box i {
  position: absolute;
  right: 13px;
  top: 15px;
  color: #ced4da;

}

.form-control {
  position: absolute;
  right: 13px;
  top: 15px;
  height: 50px;
  background-color: #eeeeee69;
  max-width: 228px;
}

.form-control:focus {
  background-color: #eeeeee69;
  box-shadow: none;
  border-color: #eee;
}


.list {

  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;

}

.border-bottom {

  border-bottom: 2px solid #eee;
}

.list i {
  font-size: 19px;
}

.list small {

  color: #dedddd;
}

footer {
  background-color: #4c3550;
}

@media only screen and (max-width: 600px) {
  .currentweather {
    min-width: 228px;
    margin-top: 70px;
    margin-left: 2px;
    text-align: center; 
    position: relative;
    height: auto;
    width: auto;
    overflow: hidden;
    background: url("https://s-media-cache-ak0.pinimg.com/564x/cf/1e/c4/cf1ec4b0c96e59657a46867a91bb0d1e.jpg") repeat center center fixed;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 2px #663b54;
    overflow: hidden;
    margin-bottom: 20px;
  }
}